* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0px 150px;
  background: rgb(17, 1, 17);
  color: white;
}

/* Animation Effect */
.animated-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}
/* Animated Effect */

.navbar {
  margin: 100px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

.about ul {
  display: flex;
}

.navbar h1 {
  font-size: 1.8rem;
  font-weight: 100;
}

.about ul li {
  list-style: none;
  margin: 0 0 0 70px;
  font-size: 1.35rem;
}

.text h3 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 25px;
}

.para {
  line-height: 28px;
  margin-bottom: 40px;
}

.hero,
.knowmore {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img img {
  height: 600px;
}

.text,
.nxt-text {
  width: 50%;
}

.text h1 {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 20px;
}

/* #parap {
    margin-bottom: 30px;
} */

.btn {
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 1.3rem;
}

.Tag {
  margin: 60px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.nxt-img img {
  height: 450px;
}

.nxt-text .p {
  width: 100%;
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.p-img img {
  height: 380px;
}

.p-text h3 {
  margin: 20px 0;
  font-weight: 100;
  font-size: 1.5rem;
}

.p-text div button {
  padding: 10px 15px;
  font-size: 1rem;
  background: transparent;
  color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  gap: 10px;
}

.gmail {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  text-align: center;
  gap: 25px;
}

.gmail p {
  font-size: 1.5rem;
}

.gmail h2 {
  font-weight: 100;
  font-size: 2.3rem;
}

.gmail h1 {
  font-size: 3rem;
  font-weight: 100;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 150px 0 100px 0;
}

.footer h1 {
  font-size: 2rem;
  font-weight: 100;
}

.icons i {
  font-size: 1.5rem;
  margin-left: 60px;
}

.copywrite {
  margin-bottom: 100px;
  font-size: 1.2rem;
}

#menu-toggle {
  display: none;
  cursor: pointer;
}

/* side menu */
.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: #111;
  color: white;
  padding: 2rem;
  transition: right 1s ease;
  z-index: 999;
}

.side-menu.active {
  right: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}

.side-menu ul li {
  margin: 1rem 0;
  font-size: 1.2rem;
  cursor: pointer;
}

#close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* #para{
    margin-bottom: 30px;
    line-height: 22px;
} */
@media (max-width: 1100px) {
  body {
    margin: 0;
  }
  .navbar {
    margin: 50px 70px;
  }
  .navbar h1 {
    font-size: 1.5rem;
  }
  .navbar ul li {
    font-size: 1rem;
  }
  .hero {
    margin: 100px 70px 0;
  }
  .img img {
    height: 400px;
  }
  .text h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .text h1 {
    font-size: 1.5rem;
  }
  .para {
    font-size: 0.6rem;
    line-height: 15px;
    margin-bottom: 20px;
  }
  .btn {
    padding: 5px 20px;
    font-size: 0.7rem;
    border-radius: 10px;
  }
  .Tag {
    font-size: 1.5rem;
  }
  .knowmore {
    margin: 20px 50px;
  }
  .nxt-img img {
    height: 250px;
  }
  .project {
    margin: 0px 50px;
    gap: 10px;
  }
  .p-img img {
    height: 220px;
    margin-top: 20px;
  }
  .p-text h3 {
    margin: 10px 0;
    font-size: 0.8rem;
  }
  .p-text div button {
    padding: 5px 10px;
    gap: 15px;
    font-size: 0.6rem;
  }
  .gmail {
    margin: 70px 0;
    gap: 15px;
  }
  .gmail p {
    font-size: 1rem;
  }
  .gmail h2 {
    font-weight: 100;
    font-size: 1.5rem;
  }
  .gmail h1 {
    font-size: 2rem;
  }
  .footer {
    margin: 50px 70px;
    align-items: center;
  }
  .footer h1 {
    font-size: 20px;
  }
  .icons i {
    font-size: 1rem;
    align-items: center;
    justify-content: center;
  }
  .copywrite {
    font-size: 0.7rem;
    margin: 0px 70px 100px 70px;
  }
}
@media (max-width: 830px) {
  .navbar {
    margin: 110px 50px 100px;
  }
  .para {
    font-size: 0.9rem;
    line-height: 20px;
  }
  .knowmore {
    margin: 50px 50px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 15px;
  }
  .nxt-img img {
    height: 350px;
  }
  .p-img img {
    height: 300px;
    margin-top: 20px;
  }
  .p-text h3 {
    margin: 10px 0;
    font-size: 1rem;
  }
  .p-text div button {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 0.9rem;
  }
  .gmail h1 {
    font-size: 1.5rem;
  }
  .footer h1 {
    font-size: 30px;
  }
  .icons i {
    font-size: 1.5rem;
  }
  .copywrite {
    font-size: 1rem;
  }
}
@media (max-width: 399px) {
  .navbar {
    margin: 60px 30px;
  }
  .about ul li {
    flex-direction: column;
    margin-left: 0;
    display: none;
  }
  .img img {
    display: none;
  }
  .hero {
    /* width: 100%; */
    margin: 60px 30px;
    flex-direction: column;
  }
  .Tag {
    margin: 60px 0;
    font-size: 20px;
  }
  .text {
    width: 100%;
  }
  .knowmore {
    flex-direction: column;
  }
  .nxt-text {
    width: 100%;
  }
  .nxt-text p {
    margin-top: 20px;
  }
  .nxt-img {
    width: 50%;
    align-items: center;
  }
  .nxt-img img {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  .project {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .gmail h2 {
    font-size: 20px;
    margin-top: 30px;
  }
  .gmail h1 {
    font-size: 1.3rem;
  }
  .footer {
    margin: 30px;
  }
  .footer h1 {
    font-size: 25px;
  }
  .icons i {
    font-size: 1.5rem;
    margin-left: 10px;
    color: white;
  }
  .copywrite {
    margin: 30px;
  }
  #menu-toggle {
    display: block;
  }
  .side-menu {
    width: 200px;
    padding: 1.5rem;
  }
  .side-menu ul li {
    font-size: 1rem;
  }
  #menu-toggle {
    font-size: 1.5rem;
  }
  #close-menu {
    font-size: 1.3rem;
  }
}
